body {
  background-color: gray;
  height: 200vh;
  margin: 20px;
}
.father {
  display: flex;
  justify-content: center;
}
.arrange {
  display: flex;
  justify-content: center;
}
.seting {
  display: flex;
  justify-content: center;
}
#first {
  background-color: white;
  height: 500px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  position: relative;
  left: -150px;
}
#firstmap {
  background-color: tomato;
  height: 50px;
  width: 200px;
}
div:nth-child(2) {
  font-size: 24pt;
  position: relative;
  top: 20px;
}
div:nth-child(3) {
  font-size: 12pt;
  position: relative;
  top: 50px;
}
#firstend {
  background-color: tomato;
  height: 250px;
  width: 200px;
  position: absolute;
  bottom: 10px;
}
#second {
  background-color: white;
  height: 500px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  position: absolute;
  left: 1000px;
  top: 0px;
}
#secondmap {
  background-color: teal;
  height: 50px;
  width: 200px;
}
#secondend {
  background-color: teal;
  height: 250px;
  width: 200px;
  position: absolute;
  bottom: 10px;
}
#third {
  background-color: white;
  height: 500px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  position: relative;
  left: -150px;
}
#thirdmap {
  background-color: bisque;
  height: 50px;
  width: 200px;
}
#thirdend {
  background-color: bisque;
  height: 250px;
  width: 200px;
  position: absolute;
  bottom: 10px;
}
#fourth {
  background-color: white;
  height: 500px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  position: absolute;
  left: 1000px;
  top: 0px;
}
#fourthmap {
  background-color: palegreen;
  height: 50px;
  width: 200px;
}
#fourthend {
  background-color: palegreen;
  height: 250px;
  width: 200px;
  position: absolute;
  bottom: 10px;
}
